---
// library
// library

interface Props {
    text: string;
    href: string;
    style: "primary" | "secondary";
    icon?: {
        path: string;
        side: "right" | "left";
    };
    isFilled?: boolean;
    borderVisible?: boolean;
    calsses?: string;
    target?: string;
}

const {
    text,
    href,
    style,
    icon,
    isFilled = true,
    borderVisible = false,
    calsses,
    target,
    ...rest
} = Astro.props as Props;

---

<a
    href={href}
    target={target}
    class:list={[
        "link",
        calsses,
        style,
        { filled: isFilled, bordered: borderVisible },
    ]}
    
    {...rest}
>
    {
        icon && icon.side === "left" && (
            <img src={icon.path} height={24} width={24} />
        )
    }

    <span>{text}</span>

    {
        icon && icon.side === "right" && (
            <img src={icon.path} height={24} width={24} />
        )
    }
</a>
